@import 'compass';
@import 'mixins/gradient';

.color-list {
  @include black-gradient;
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    right: 3em;
    left: 3em;
  }
  @include rhythm(1,1,1,1);
  h1 {
    color: white;
  }
  table {
    width: 100%;
    @include rhythm(0,0,0,1);
    td {
      @include rhythm(0,.5,.5,0);
      text-align: center;
      @include text-shadow(rgba(white, 0.5) 1px 1px 0);
    }
  }
}
