@import 'mixins/color-scheme';

$hue       : 0;
$base-color: hsl($hue, 100%, 50%);
$variant   : 'more contrast';

@include establish-color-scheme($base-color, $variant);
.color-scheme-preview {
  .primary {
    .base-color { @extend .pri-0; }
    .variant1   { @extend .pri-1; }
    .variant2   { @extend .pri-2; }
    .variant3   { @extend .pri-3; }
    .variant4   { @extend .pri-4; }
  }
}
