@import 'compass';

$hue               : 0;
$scheme-base-color : hsl($hue, 100%, 50%);
$scheme-variant1   : adjust-color($scheme-base-color, $saturation: -40%, $lightness: -3%); // hsl(0, 60%, 47%);
$scheme-variant2   : adjust-color($scheme-base-color, $lightness: -17%);                   // hsl(0, 100%, 33%);
$scheme-variant3   : adjust-color($scheme-base-color, $lightness: 13%);                    // hsl(0, 100%, 63%);
$scheme-variant4   : adjust-color($scheme-base-color, $lightness: 23%);                    // hsl(0, 100%, 73%);

.color-scheme-preview {
  .primary {
    .base-color {
      background-color: $scheme-base-color;
    }
    .variant1 {
      background-color: $scheme-variant1;
    }
    .variant2 {
      background-color: $scheme-variant2;
    }
    .variant3 {
      background-color: $scheme-variant3;
    }
    .variant4 {
      background-color: $scheme-variant4;
    }
  }
}

