@import 'colors';
@import 'mixins/color-scheme';

/*$model: 'mono';*/
/*$model: 'complement';*/
/*$model: 'triad';*/
/*$model: 'tetrad';*/
$model: 'analogic';

$variant   : 'default scheme';
/*$variant   : 'more contrast';*/
/*$variant   : 'high contrast';*/
/*$variant   : 'max contrast';*/
/*$variant   : 'less contrast';*/
/*$variant   : 'min contrast';*/
/*$variant   : 'medium dark';*/
/*$variant   : 'dark';*/
/*$variant   : 'very dark';*/
/*$variant   : 'pastel';*/
/*$variant   : 'medium dark pastel';*/
/*$variant   : 'dark pastel';*/
/*$variant   : 'very dark pastel';*/
/*$variant   : 'light pale pastel';*/
/*$variant   : 'medium pale pastel';*/
/*$variant   : 'dark pale pastel';*/
/*$variant   : 'very dark pale pastel';*/
/*$variant   : 'almost grays light';*/
/*$variant   : 'almost grays with color accents light';*/
/*$variant   : 'almost grays medium';*/
/*$variant   : 'almost grays with color accents medium';*/
/*$variant   : 'almost grays dark';*/
/*$variant   : 'almost grays with color accents dark';*/

$angle: 30;

@include establish-color-scheme($base-color, $model, $variant, $angle);

.color-scheme-preview {
  .primary {
    .base-color { @extend .pri-0; }
    .variant1   { @extend .pri-1; }
    .variant2   { @extend .pri-2; }
    .variant3   { @extend .pri-3; }
    .variant4   { @extend .pri-4; }
  }
  .secondary-a {
    .base-color { @extend .sec1-0; }
    .variant1   { @extend .sec1-1; }
    .variant2   { @extend .sec1-2; }
    .variant3   { @extend .sec1-3; }
    .variant4   { @extend .sec1-4; }
  }
  .secondary-b {
    .base-color { @extend .sec2-0; }
    .variant1   { @extend .sec2-1; }
    .variant2   { @extend .sec2-2; }
    .variant3   { @extend .sec2-3; }
    .variant4   { @extend .sec2-4; }
  }
  .complementary {
    .base-color { @extend .compl-0; }
    .variant1   { @extend .compl-1; }
    .variant2   { @extend .compl-2; }
    .variant3   { @extend .compl-3; }
    .variant4   { @extend .compl-4; }
  }
}
