---
title: Color Schemes with Sass
colors:
  - primary
  - secondary-a
  - secondary-b
  - complementary
---

.color-scheme-preview
  .palette-bg-1
  .palette-bg-2
  .palette
    = partial 'table/table', locals: { colors: data.page.colors }
