---
title: Color Schemes with Sass
---

.color-scheme-preview
  %table
    %tr.primary
      %td.variant3
        .light Text
        .medium Text
        .dark Text
      %td.base-color(rowspan=2)
        .light Text
        .medium Text
        .dark Text
      %td.variant1
        .light Text
        .medium Text
        .dark Text
    %tr.primary
      %td.variant4
        .light Text
        .medium Text
        .dark Text
      %td.variant2
        .light Text
        .medium Text
        .dark Text
