---
title: Color Schemes with Sass
---

.color-scheme-preview
  %table
    %tr.primary
      %td.variant3 x
      %td.base-color(rowspan=2) x
      %td.variant1 x
    %tr.primary
      %td.variant4 y
      %td.variant2 y
